{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  // HERE
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    // "no-unused-vars": "error",
    "prefer-const": "error",
    // "no-unused-expressions": "error",
    "no-undef": "error",
    "@typescript-eslint/no-unused-vars": "off",

    "no-console": "warn",
    "@typescript-eslint/consistent-type-definitions": ["off", "type"],
    "@typescript-eslint/no-this-alias": "warn"
  },


  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "globals": {
    "process":"readonly"
  }
}